{% extends "admin/change_form.html" %}
{% load i18n trails_tags %}
{% block after_related_objects %}
  {% if original %}
    <fieldset class="module aligned">
      <h2>Events</h2>
      <table style="width: 100%;">
        <thead>
          <tr>
            <th>Created at</th>
            <th>Event type</th>
            {% for variety in cookie_varieties %}
              <th style="background-color: {{ variety.color }};
                         color: black;
                         font-weight: bold;
                         padding: 4px 8px;
                         text-transform: none;
                         text-align: center">{{ variety.value }}</th>
            {% endfor %}
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for event in original.events.all %}
            <tr>
              <td style="padding: 8px;">
                <a href="{% url 'admin:trails_event_change' event.pk %}">{{ event.created_at }}</a>
              </td>
              <td style="padding: 8px;">{{ event.get_event_type_display }}</td>
              {% for variety in cookie_varieties %}
                <td style="text-align: right; padding: 8px 8px;">{{ event.count_data|get_item:variety.value }}</td>
              {% endfor %}
              <td style="padding: 8px; text-align: center;">{{ event.total_count }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="{{ cookie_varieties|length|add:3 }}">No events yet.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  {% endif %}
{% endblock after_related_objects %}
